.cpuUpgradeBtn {
    outline: outset;
    outline-width: 1px;
    display: block;
    width: 100%;
    padding: 6px 0;
    text-align: center;
    border: 0px solid #ddd;
    background-color: whitesmoke;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    margin: 5px;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgb(180, 180, 180);
    font-weight: bold;
    inset: 0em;
}


.cpuUpgradeBtnPctOuter {
    height: 10px;
    background-color: lightgray;
}

.cpuUpgradeBtnPctInner {
    height: 10px;
    background-color: lightgreen;
}

.canAfford {
    color:rgb(78, 145, 12);
}
.cannotAfford {
    color:rgb(241, 30, 40);
}
