#buyCpuButton {
	width: 50%;
	height: 40px;
	display: block;
	text-align: center;
}

#cpuList {
	width: 100%;
	margin: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cpu {
	border-radius: 5px;
	margin: 10px;
	color: white;
	text-shadow: white 0px 0px 5px;
	font-weight: bold;
	font-size: clamp(10px, 1vw, 1vw);
	width: clamp(60px, 5vw, 5vw);
	height: clamp(60px, 5vw, 5vw);
	background-color: black;
	border: 1px solid white;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background-image: url("../assets/cpu.jpg");
	background-size: cover;
	background-position: center; */
}
