body {
	margin: 20px;
	box-sizing: border-box;
}

.mainLayoutGrid {
	display: grid;
	grid-template-columns: 500px auto;
	grid-template-rows: 100px auto;
	padding: 10px;
	grid-gap: 10px;
}

.level1Area {
	background-color: aquamarine;
}

.cpuAreaDiv {
	display: flex;
	flex-direction: column;
}

.moneyDiv {
}

.nftInfoDiv {
}

.nftAreaDiv {
}

.manualButtonDiv {
}

.cpuGfxDiv {
}

.cpuProgressBarDiv {
}

.cpuUpgradesDiv {
}
