.targetList {
}

.target {
	border-radius: 5px;
	width: clamp(10vw, 20vw, 20vw);
	display: flex;
	flex-direction: column;
	border: 2px solid white;
}

.targetBulliesImage {
	height: 50px;
	background-image: url("../assets/targetBullies2.jpg");
	background-size: cover;
	background-position: center;
}

.targetData {
	display: flex;
	background-color: darkgray;
}

.targetCount {
	font-size: xx-large;
	font-weight: bolder;
}

.targetName {
	font-size: xx-large;
	font-weight: bolder;
}
