@import 'https://fonts.googleapis.com/css?family=Open+Sans';

:root {
    --col-common-text:rgb(183, 183, 183);
    --col-uncommon-text:rgb(30, 225, 50);
    --col-rare-text:rgb(151, 166, 255);
    --col-epic-text:rgb(219, 161, 255);
    --col-legendary-text:rgb(255, 187, 0);
}

hr {
	border: none;
	height: 1px;
	background-color: white;
}

button {
	color: rgb(229, 229, 229);
	background-color: rgb(50, 50, 50);
}

.upgradeCpuButton {
	margin: 5px;
}

.textRarity {
	font-style: bold;
	text-shadow: black 0px 0px 2px;
}

.textRarityCommon {
	color: var(--col-common-text);
}

.textRarityUncommon {
	color: var(--col-uncommon-text);
}

.textRarityRare {
	color: var(--col-rare-text);
}

.textRarityEpic {
	color: var(--col-epic-text);
}

.textRarityLegendary {
	color: var(--col-legendary-text);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes textFloatAnim {
    0%   { transform: translate(-50%, -20px); opacity: 1.0; }
    50% { transform: translate(-50%, -100px); opacity: 0.0; }
}

@keyframes incomeAnim {
    0%   { scale: translate(-50%, -20px); opacity: 1.0; }
    50% { transform: translate(-50%, -100px); opacity: 0.0; }
}

.money-float {
	color:white;
	text-shadow: white 0px 0px 5px;
	font-weight: 200;
	font-size: medium;
	pointer-events: none;
	position: absolute;
	animation: textFloatAnim 4s;
	animation-direction: normal;
	animation-timing-function: ease-out;
	text-align: center;
	transform: translate(-50%, -50%);
	text-shadow: white 0px 0px 5px;
}

.horzDivider {
	width: 95%;
	border:none;
  	border-top:1px solid;
	color: black;
	opacity: 0.2;
}

#moneyLabel {
	text-shadow: white 0px 0px 5px;
}

h2 {
	margin: 0px;
}

#moneyOverview {
	width: 100%;
	margin:auto;
	text-align: center;
}

.infoText {
	font-size: x-small;
	color: white;
}

#incomeLabel {
	font-size: 0.6em;
}

.HintText {
	font-size: 0.8em;
	color: lightgrey;
	font-weight: lighter;
	text-align: center;
}

* {
	user-select: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
