body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

@keyframes textFloatAnim {
    0%   { transform: translate(-50%, -20px); opacity: 1.0; }
    50% { transform: translate(-50%, -100px); opacity: 0.0; }
}

@keyframes incomeAnim {
    0%   { scale: translate(-50%, -20px); opacity: 1.0; }
    50% { transform: translate(-50%, -100px); opacity: 0.0; }
}

.money-float {
	color:black;
	text-shadow: white 0px 0px 5px;
	font-weight: bold;
	font-size: small;
	pointer-events: none;
	position: absolute;
	animation: textFloatAnim 6s;
	animation-timing-function: ease-out;
	text-align: center;
	transform: translate(-50%, -50%);
}

.horzDivider {
	width: 95%;
	border:none;
  	border-top:1px solid;
	color: black;
	opacity: 0.2;
}

.columns {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background-image: url("./assets/background.jpg");
	background-size: cover;
	background-position: center;
}

.column {
	flex: 33.33%;
	padding: 20px;
}

.col1, .col2, .col3 {
	border-style: solid;
	border: 0px;
	border-bottom: 0px;
	border-color: black;
}

.col2 {
	border: 2px ridge rgba(0, 0, 0, 0.1);
}

#moneyLabel {
	text-shadow: white 0px 0px 5px;
}

#moneyOverview {
	width: 100%;
	margin:auto;
	text-align: center;
}

#cpuList {
	width: 100%;
	margin: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cpu {
	margin: 10px;
	font-weight: bold;
	font-size: clamp(10px, 1vw, 1vw);
	width: clamp(60px, 5vw, 5vw);
	height: clamp(60px, 5vw, 5vw);
	background-color: lightgray;
	border: 1px solid;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.infoText {
	font-size: x-small;
	color: white;
}

#buyCpuButton {
	width: 50%;
	height: 40px;
	display: block;
	text-align: center;
}

#incomeLabel {
	font-size: 0.6em;
}

#manualWorkButton {
	width: 80%;
	height: 40px;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#manualWorkIncome {
	text-align: center;
	font-weight: lighter;
	font-size: 0.6em;
	margin: 4px;
}

.HintText {
	font-size: 0.8em;
	color: lightgrey;
	font-weight: lighter;
	text-align: center;
}

* {
	user-select: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
