@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes textFloatAnim {
    0%   { transform: translate(-50%, -20px); opacity: 1.0; }
    50% { transform: translate(-50%, -100px); opacity: 0.0; }
}

@keyframes incomeAnim {
    0%   { scale: translate(-50%, -20px); opacity: 1.0; }
    50% { transform: translate(-50%, -100px); opacity: 0.0; }
}

.money-float {
	color:black;
	text-shadow: white 0px 0px 5px;
	font-weight: bold;
	font-size: small;
	pointer-events: none;
	position: absolute;
	animation: textFloatAnim 6s;
	animation-timing-function: ease-out;
	text-align: center;
	transform: translate(-50%, -50%);
}

.horzDivider {
	width: 95%;
	border:none;
  	border-top:1px solid;
	color: black;
	opacity: 0.2;
}

#moneyLabel {
	text-shadow: white 0px 0px 5px;
}

#moneyOverview {
	width: 100%;
	margin:auto;
	text-align: center;
}

.infoText {
	font-size: x-small;
	color: white;
}

#incomeLabel {
	font-size: 0.6em;
}

.HintText {
	font-size: 0.8em;
	color: lightgrey;
	font-weight: lighter;
	text-align: center;
}

* {
	user-select: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
